@page "/Contact"
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Contactez-Nous //</h6>
            <h1 class="mb-5">Contactez-nous pour toute question</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase text-warning fw-bold">// Rendez-Vous //</h5>
                            <p class="m-0">
                                <i class="fa fa-envelope-open text-warning me-2"></i>
                                <a href="mailto:rendez-vous@graservice.com">rendez-vous@graservice.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase text-info fw-bold">// Général //</h5>
                            <p class="m-0">
                                <i class="fa fa-envelope-open text-info me-2"></i>
                                <a href="mailto:info@graservice.com">info@graservice.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase text-danger fw-bold">// Technique //</h5>
                            <p class="m-0">
                                <i class="fa fa-envelope-open text-danger me-2"></i>
                                <a href="mailto:tech@graservice.com">tech@graservice.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <iframe class="position-relative rounded w-100 h-100"
                        src="https://maps.app.goo.gl/rLFSibztuxP2ti127"
                        frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <p class="mb-4">Ce formulaire de contact est actuellement actif. Nous répondrons à votre message dès que possible. Nous espérons avoir de vos nouvelles en tant que client privilégié.</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Votre Nom">
                                    <label for="name">Votre Nom</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Votre Email">
                                    <label for="email">Votre Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Objet">
                                    <label for="subject">Objet</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Laisser un message ici" id="message" style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>