@page "/Services"
@page "/Services/{FooterTag}"
<h1>@FooterTag</h1>
<div class="container-xxl service py-5" id="services">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-primary text-uppercase">[ Nos Services ]</h5>
            <h1 class="mb-5">Découvrir Nos Services</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav w-100 nav-pills me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <i class="fa fa-car-side fa-2x me-3"></i>
                        <h4 class="m-0">Test de diagnostique</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                        <i class="fa fa-car fa-2x me-3"></i>
                        <h4 class="m-0">Entretien des moteurs</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                        <i class="fa fa-cog fa-2x me-3"></i>
                        <h4 class="m-0">Remplacement des pneus</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                        <i class="fa fa-oil-can fa-2x me-3"></i>
                        <h4 class="m-0">Vidange d'huile</h4>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="images/service-1.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">5 ans d'expérience dans l'entretien automobile</h3>
                                <p class="mb-4">Depuis 5 ans, nous mettons tout notre savoir-faire et notre passion au service de votre automobile pour vous garantir un entretien de qualité irréprochable</p>
                                <p><i class="fa fa-check text-success me-3"></i>Un service de qualité</p>
                                <p><i class="fa fa-check text-success me-3"></i>Mécaniciens experts</p>
                                <p><i class="fa fa-check text-success me-3"></i>Équipements modernes</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Lire la suite<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="images/service-2.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">5 ans d'expérience dans l'entretien automobile</h3>
                                <p class="mb-4">Soucieux de votre satisfaction, nous vous proposons un service client irréprochable, des conseils avisés et des tarifs justes</p>
                                <p><i class="fa fa-check text-success me-3"></i>Un service de qualité</p>
                                <p><i class="fa fa-check text-success me-3"></i>Mécaniciens experts</p>
                                <p><i class="fa fa-check text-success me-3"></i>Équipements modernes</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Lire la suite<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="images/service-3.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">5 ans d'expérience dans l'entretien automobile</h3>
                                <p class="mb-4">Notre expérience nous permet de vous offrir un diagnostic précis et des réparations durables, pour une longévité accrue de votre véhicule</p>
                                <p><i class="fa fa-check text-success me-3"></i>Un service de qualité</p>
                                <p><i class="fa fa-check text-success me-3"></i>Mécaniciens experts</p>
                                <p><i class="fa fa-check text-success me-3"></i>Équipements modernes</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Lire la suite<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="images/service-4.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">5 ans d'expérience dans l'entretien automobile</h3>
                                <p class="mb-4">Pour célébrer nos 5 ans d'existence, nous vous proposons des offres spéciales sur l'entretien de votre voiture</p>
                                <p><i class="fa fa-check text-success me-3"></i>Un service de qualité</p>
                                <p><i class="fa fa-check text-success me-3"></i>Mécaniciens experts</p>
                                <p><i class="fa fa-check text-success me-3"></i>Équipements modernes</p>
                                <a href="LearnMore/Services" class="btn btn-primary py-3 px-5 mt-3">Lire la suite<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter] public string? FooterTag { get; set; }
}